
body {
    padding: 100px;
    background: linear-gradient(to right, #085078, #85d8ce);
}

.section-body h1 {
    font-weight: 700;
    color: whitesmoke;
}

.submit-box {
    /* width: 60%; */
    margin-top: 50px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 2px 2px 20px gray;
    background: whitesmoke;

}

#transaction-area {
    display: none;
}

.Deposit {
    background-color: slateblue;
   
}

.Withdraw{
    background-color: lightsalmon;
}

.Balance{
    background-color: orange;
}

.status {
    margin: 0 20px;
    padding: 20px;
    border-radius: 10px;
    color: white;
}